<!-- <header class="showcase">
    <div class="showcase-top">
      <div class="logo-text">LOGO</div>
      <a routerLink="/login" class="btn btn-rounded">Sign In</a>
      <a routerLink="/register"  class="btn btn-rounded">Sign Up</a>
    </div>
    <div class="showcase-content">
      <h1>Title</h1>
      <p>Description</p>
      <a href="#" class="btn btn-xl">
        SOS
        <i class="fas fa-chevron-right btn-icon"></i>
      </a>
    </div>
  </header> -->

  <div class="navbar">
    <div class="navbar-buttons">
      <button (click)="goToRegister()">Register</button>
      <button (click)="goToLogin()">Login</button>
    </div>
  </div>
  
  <div class="hero">
    <h1>Welcome to Our App</h1>
    <p>Your journey starts here!</p>
  </div>
  
  <div class="sos-container">
    <button class="sos-button" (click)="onSOS()">SOS</button>
  </div>
  