/* h1 {
  margin-top: 20rem;
  z-index: 2000;
} */

/* alerts.component.css */
.alert-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  width: 100%;
  max-width: 500px;
}
