.app-container {
    display: flex; /* Use flexbox for the app layout */
  }
  
  .alerts-content {
    margin-left: 10px; /* Collapsed width of sidebar */
    padding: 20px; /* Add padding for content */
    flex-grow: 1; /* Allow content to take up remaining space */
    transition: margin-left 0.3s ease-in-out; /* Smooth transition for expanded navbar */
  }
  
  /* Adjust the margin for expanded navbar */
  #sidebar:hover ~ .alerts-content {
    margin-left: 200px; /* Adjust this to the expanded navbar width */
  }
  